<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div id="recipes">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Instructions</th>
        <th scope="col">Public</th>
      </tr>
    </thead>
    <tbody>
      <% @recipes.each do |recipe| %>
        <%= render recipe %>
      <% end %>
    </tbody>
  </table> 
</div>

<%= link_to "New recipe", new_recipe_path %>
